{
	"env": {
	  "browser": true,
	  "node": true,
	  "es6": true,
	  "jest": true
	},
	"extends": [
	  "eslint:recommended",
	  "plugin:react/recommended",
	  "plugin:react-hooks/recommended",
	  "plugin:@typescript-eslint/recommended",
	  "plugin:@typescript-eslint/eslint-recommended",
	  "plugin:prettier/recommended",
	  "prettier/@typescript-eslint"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
	  "ecmaFeatures": {
		"jsx": true
	  },
	  "sourceType": "module"
	},
	"plugins": [
	  "import",
	  "react",
	  "prettier",
	  "@typescript-eslint"
	],
	"settings": {
	  "react": {
		"version": "detect"
	  }
	}
  }